.body-title {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}

#tab {
  width: 100%;
  text-align: center;
}

tr {
  width: 100%;
}

.td1 {
  width: 25px;
}

.td2 {
  width: 180px;
}

.td3 {
  width: 80px;
}

.but {
  text-align: center;
}
