.but {
  text-align: center;
}

.body-title {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}

.btn-group {
  width: 100%;
}

.btn-default {
  width: 90%;
}

.dropdown-toggle {
  width: 10%;
}

ul, li {
  width: 100%;
}
